header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    text-align: center;
    line-height: 1.5;
    font-size: 10pt;
}

li {
    display: inline;
    margin: 5px;
}

li a {
    color: darkorange;
}

.logo {
    width: 10%;
}

a {
    text-decoration: none;
    color: white;
}

a.skip{
    background: black;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus{
    top: 20px;
    color: white;
    text-decoration-style: solid;
}

main a:hover {
    text-decoration: underline;
    border: 2px dashed white;
}

main {
    padding: 10px;
}

h1 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    line-height: 2;
    color: white;
    padding: 5px;
    font-size: 28pt;
    background:  -webkit-linear-gradient(0deg, #f29914 25%, #74dff7 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    text-align: center;
    color: white;
    padding: 10px;
}

h2 a {
    color: darkorange;
}

h3 {
    text-align: center;
    color: white;
    font-size: 16pt;
    margin: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.choice {
    display: flex;
    flex-basis: 100%;
}

.choice a {
    font-family: 'Varela Round', sans-serif;
}

.choice div {
    margin: 10px;
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.introduction p {
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}

.introduction p a {
    text-decoration: underline;
}

table {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-collapse: collapse;
    margin: 10px;
    line-height: 1.5;
}
  
td, th {
    border: 1px solid grey;
    text-align: center;
    padding: 10px;
}

.category_nv {
    font-size: 14px;
    font-weight: bold;
    color: lightgreen;
}

.category_amd {
    font-size: 14px;
    font-weight: bold;
    color: red;
}

.category_intel {
    font-size: 14px;
    font-weight: bold;
    color: rgb(89, 211, 252);
}

@media (prefers-reduced-motion) {
    * {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}

@media screen and (min-width: 768px) {
    ul {
        font-size: 16pt;
        font-weight: bold;
    }

    nav {
        justify-content: flex-end;
    }

    .introduction {
        flex-direction: row;
    }

    .introduction p {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    ul {
        font-size: 20pt;
    }

    table, .category_nv, .category_amd {
        font-size: 18px;
    }

    td, th {
        padding: 15px;
    }

    h3 {
        font-size: 18pt;
    }

    .introduction p, .introduction p a {
        font-size: 20px;
    }
}