.nav_cpu_intel {
    border-width: 0 0 2px 0;
    border-color: aquamarine;
    border-style: solid;
    font-size: 16pt;
}

main {
    background: -webkit-linear-gradient(to bottom, #1565C0, #333333);
    background: linear-gradient(to bottom, #1565C0,  #333333); 
}

h2 {
    font-size: 10pt;
}

.choice {
    flex-direction: row;
}

.choice a {
    background-color: black;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    font-size: 12px;
    color: aqua;
}

.choice div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.cpu {
    width: 70%;
}

.motherboard {
    width: 120%;
}

.plus {
    margin: 10px;
    font-size: 12px;
    color: azure;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .nav_cpu_intel {
        font-size: 22pt;
    }

    .plus {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .nav_cpu_intel {
        font-size: 28pt;
    }

    .plus {
        font-size: 22px;
    }

    h2 {
        font-size: 16px;
    }

    .choice a {
        font-size: 16px;
    }
}