.nav_start {
    border-width: 0 0 2px 0;
    border-color: aquamarine;
    border-style: solid;
    font-size: 16pt;
}

main {
    background: -webkit-linear-gradient(to top, #1565C0, #b92b27); 
    background: linear-gradient(to top, #1565C0, #b92b27);
}

.choice a {
    display: block;
    font-family: 'Permanent Marker', cursive;
    padding: 10px;
}

.amd_yes a {
    font-size: 32pt;
    color: aqua;
}

.intel_no a {
    font-size: 20pt;
    color: red;
}

.choice {
    flex-direction: column;
}

.choice img {
    width: 95%;
}

.introduction {
    flex-direction: column;
}

.introduction div {
    text-align: center;
}

p {
    text-align: center;
    font-size: 14pt;
    color: white;
    margin: 5px;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .nav_start {
        font-size: 20pt;
    }
}