.nav_gpu {
    border-width: 0 0 2px 0;
    border-color: aquamarine;
    border-style: solid;
    font-size: 16pt;
}

main {
    background: -webkit-linear-gradient(to right, green, darkred);
    background: linear-gradient(to right, green, darkred); 
}

h2 {
    font-size: 10pt;
}

.choice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
}

.huang_su {
    display: block;
    margin: 10px auto;
    width: 95%;
    grid-column: 1 / span 2;
    animation-name: emerge;
    animation-duration: 1.5s;
}

@keyframes emerge {
    from {width: 0%; opacity: 0;}
    to {width: 95%; opacity: 1;}
}

.choice p {
    font-size: 16px;
    margin: 10px;
    color: white;
}

.choice a {
    font-size: 16px;
    margin: 10px;
    color: aqua;
}

.rtx, .radeon {
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    background: black;
    animation-name: list;
    animation-duration: 1.5s;
}

@keyframes list {
    from {opacity: 0;}
    to {opacity: 1;}
}

.nv_head, .amd_head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpu_logo {
    width: 20%;
}

.nv_gpu, .amd_gpu {
    margin: 5px;
    width: 90%;
    margin: auto;
    transition: all 1s ease;
}

.nv_gpu:hover {
    transform: scale(1.2);
    border: 1px solid white;
}

.amd_gpu:hover {
    transform: scale(1.2);
    border: 1px solid white;
}

@media (prefers-reduced-motion) {
    .rtx, .radeon, .huang_su {
        animation: none;
    }
}

@media screen and (min-width: 768px) {
    .nav_gpu {
        font-size: 22pt;
    }
}

@media screen and (min-width: 1024px) {
    .nav_gpu {
        font-size: 28pt;
    }

    h2 {
        font-size: 16px;
    }

    .huang_su {
        width: 70%;
    }

    @keyframes emerge {
        from {width: 0%; opacity: 0;}
        to {width: 70%; opacity: 1;}
    }

    .nv_gpu, .amd_gpu {
        width: 80%;
    }
}